* {
    text-align: center;
}
.blue {
    background-color: aquamarine;
    
    position: absolute;
    width: 50%;
    height: 10px;
    left: 50%;
    top: 50%;
    margin-left: -25%;
    margin-top: -10px;
}
.green {
    background-color: #FF0054;
    
    position: absolute;
    width: 50%;
    height: 10px;
    left: 50%;
    top: 40%;
    margin-left: -25%;
    margin-top: -10px;
}
.green2 {
    background-color: #9E0059;
    
    position: absolute;
    width: 50%;
    height: 10px;
    left: 50%;
    top: 30%;
    margin-left: -25%;
    margin-top: -10px;
}
.green3 {
    background-color: #390099;
    
    position: absolute;
    width: 50%;
    height: 10px;
    left: 50%;
    top: 20%;
    margin-left: -25%;
    margin-top: -10px;
}
.greenbottom {
    background-color: #5900FF;
    
    position: absolute;
    width: 50%;
    height: 10px;
    left: 50%;
    top: 60%;
    margin-left: -25%;
    margin-top: -10px;
}
.greenbottom2 {
    background-color: #FF5400;
    
    position: absolute;
    width: 50%;
    height: 10px;
    left: 50%;
    top: 70%;
    margin-left: -25%;
    margin-top: -10px;
}
.greenbottom3 {
    background-color: #FFBD00;
    
    position: absolute;
    width: 50%;
    height: 10px;
    left: 50%;
    top: 80%;
    margin-left: -25%;
    margin-top: -10px;
}